@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

.imgBx img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formBx {
    width: 50%;
}

.formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

.formBx .inputBx{
    margin-bottom: 20px;
}

.formBx .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    color: #407d8b;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1px;
}

.formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #407d8b;
    font-size: 16px;
    border-radius: 30px;
    color: #407d8b;
    letter-spacing: 1px;
    background: transparent;
}

.contentBx .formBx .inputBx input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.contentBx .formBx .inputBx input[type="submit"]:hover {
    background: #f536f5;
}

.contentBx .formBx .remember {
    margin-bottom: 10bx;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentBx .formBx p {
    color: #607d8b;
}

section .contentBx .formBx p a {
    color: #ff4584;
}

.contentBx .formBx h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

.contentBx .formBx .sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx .formBx .sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.contentBx .formBx .sci li:hover {
    background: #ff4584;
}

.contentBx .formBx .sci li img {
    transform: scale(0.2);
    filter: invert(1);
}

@media(max-width: 768px){
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx {
        padding: 40px;
        width: 100%;
        margin: 50px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    section .contentBx .formBx h3 {
        color: #607d8b;
        text-align: center;
        font-weight: 500;
        margin: 30px 0 10px;
    }
}